---
import type { TestimonialsStoryblok } from "@/component-types";

const { blok } = Astro.props as { blok: TestimonialsStoryblok };
import { getHref } from "@/utils";

console.log(
  blok.testimonials
    ?.filter((testimonial) => testimonial.person_name === "Ganesh Vasudeva")
    .map(
      (testimonial) =>
        testimonial.source?.url !== "" || testimonial.source?.cached_url !== "",
    ),
);
---
<h2 class="text-2xl mb-8">
  Read what our community is saying about Guru Shradha.
</h2>
<div class="flex flex-col gap-8 sm:grid sm:grid-cols-2 text-left">
  <div class="flex flex-col max-w-1/2 flex-wrap gap-8 mt-8">
    <!-- review -->
    <h2 class="text-2xl font-bold">Reviews</h2>
    {
      blok.testimonials
        ?.filter((testimonial) => testimonial.type === "review")
        .map((testimonial) => (
          <div class="flex flex-col p-6 rounded-xl border-gray-200 border-2">
            <span class="">{testimonial.quote}</span>
            <span class="font-bold mt-6 mb-2">{testimonial.person_name}</span>
            {testimonial.source &&
            (testimonial.source?.url !== "" ||
              testimonial.source?.cached_url !== "") ? (
              <a
                href={getHref(testimonial.source!)}
                class="text-sm underline text-gray-500 hover:text-black"
                target="_blank"
              >
                {testimonial.relation_to_gs}
              </a>
            ) : (
              <span class="text-sm text-gray-500">
                {testimonial.relation_to_gs}
              </span>
            )}
          </div>
        ))
    }
  </div>
  <!-- testimonials -->
  <div class="flex flex-col max-w-1/2 flex-wrap gap-8 mt-8">
    <h2 class="text-2xl font-bold">Testimonials</h2>
    {
      blok.testimonials
        ?.filter((testimonial) => testimonial.type === "testimonial")
        .map((testimonial) => (
          <div class="flex flex-col p-6 rounded-xl border-gray-200 border-2">
            <span class="">{testimonial.quote}</span>
            <span class="font-bold mt-6 mb-2">{testimonial.person_name}</span>
            {testimonial.source &&
            (testimonial.source?.url !== "" ||
              testimonial.source?.cached_url !== "") ? (
              <a
                href={getHref(testimonial.source!)}
                class="text-sm underline text-gray-500 hover:text-black"
                target="_blank"
              >
                {testimonial.relation_to_gs}
              </a>
            ) : (
              <span class="text-sm text-gray-500">
                {testimonial.relation_to_gs}
              </span>
            )}
          </div>
        ))
    }
  </div>
</div>
