---
import Footer from "@/components/Footer.astro";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/playfair-display";
import "@fontsource/yatra-one";
import "../styles/globals.css";
import { useStoryblokGet } from "@/utils";
import Navbar from "@/components/Navbar.astro";
import VerticalBordersLayout from "./VerticalBordersLayout.astro";

const { data } = await useStoryblokGet("cdn/stories/global/navbar");

interface Props {
  title: string;
  colorScheme?: "default" | "inverted";
  style?: any;
  className?: string;
}

const { title, colorScheme = "default", style, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Guru Shradha's Official Website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Guru Shradha</title>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V874FVG159"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-V874FVG159");
    </script>
  </head>
  <body class="flex flex-col w-full min-h-dvh">
    <Navbar blok={data.story.content.global[0]} />
    <main
      class={`flex flex-col w-full ${colorScheme === "default" ? "text-foreground" : "bg-foreground text-background"} ${className}`}
      style={style ?? {}}
    >
      {
        title === "Home" ? (
          <slot />
        ) : (
          <VerticalBordersLayout>
            <div class="w-full h-full flex flex-col p-8 items-left sm:items-center text-left sm:text-center sm:p-16 gap-8 pb-32 sm:pb-32">
              <h1 class="font-bold text-5xl uppercase font-serif mb-8">
                {title}
              </h1>
              <slot />
            </div>
          </VerticalBordersLayout>
        )
      }
    </main>
    <Footer />
  </body>
</html>
